/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
meta.foundation-version {
  font-family: "/5.5.0/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.063em) and (max-width:90em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.063em) and (max-width:120em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

.ms-body {
  background: #fff;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto; }

.ms-a:hover {
  cursor: pointer; }

.ms-img {
  max-width: 100%;
  height: auto; }

.ms-img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.ms-map_canvas img,
.ms-map_canvas embed,
.ms-map_canvas object {
  max-width: none !important; }

.ms-left {
  float: left !important; }

.ms-right {
  float: right !important; }

.ms-clearfix:before,.ms-clearfix:after {
  content: " ";
  display: table; }
  .ms-clearfix:after {
  clear: both; }

.ms-hide {
  display: none !important;
  visibility: hidden; }

.ms-invisible {
  visibility: hidden; }

.ms-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ms-img {
  display: inline-block;
  vertical-align: middle; }

.ms-textarea {
  height: auto;
  min-height: 50px; }

.ms-select {
  width: 100%; }

.ms-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em; }
 .ms-row:before,.ms-row:after {
    content: " ";
    display: table; }
 .ms-row:after {
    clear: both; }
 .ms-row.collapse >.ms-column,
 .ms-row.collapse >.ms-columns {
    padding-left: 0;
    padding-right: 0; }
 .ms-row.collapse.ms-row {
    margin-left: 0;
    margin-right: 0; }
 .ms-row.ms-row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none; }
   .ms-row.ms-row:before,.ms-row.ms-row:after {
      content: " ";
      display: table; }
   .ms-row.ms-row:after {
      clear: both; }
   .ms-row.ms-row.collapse {
      width: auto;
      margin: 0;
      max-width: none; }
     .ms-row.ms-row.collapse:before,.ms-row.ms-row.collapse:after {
        content: " ";
        display: table; }
     .ms-row.ms-row.collapse:after {
        clear: both; }

.ms-column,
.ms-columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left; }

[class*="column"] + [class*="column"]:last-child {
  float: right; }

[class*="column"] + [class*="column"].end {
  float: left; }

@media only screen {
 .ms-small-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

 .ms-small-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

 .ms-small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

 .ms-small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

 .ms-small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

 .ms-small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

 .ms-small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

 .ms-small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

 .ms-small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

 .ms-small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

 .ms-small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

 .ms-small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

 .ms-small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

 .ms-small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

 .ms-small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

 .ms-small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

 .ms-small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

 .ms-small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

 .ms-small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

 .ms-small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

 .ms-small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

 .ms-small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

 .ms-small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

 .ms-small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

 .ms-column,
 .ms-columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

 .ms-small-1 {
    width: 8.33333%; }

 .ms-small-2 {
    width: 16.66667%; }

 .ms-small-3 {
    width: 25%; }

 .ms-small-4 {
    width: 33.33333%; }

 .ms-small-5 {
    width: 41.66667%; }

 .ms-small-6 {
    width: 50%; }

 .ms-small-7 {
    width: 58.33333%; }

 .ms-small-8 {
    width: 66.66667%; }

 .ms-small-9 {
    width: 75%; }

 .ms-small-10 {
    width: 83.33333%; }

 .ms-small-11 {
    width: 91.66667%; }

 .ms-small-12 {
    width: 100%; }

 .ms-small-offset-0 {
    margin-left: 0% !important; }

 .ms-small-offset-1 {
    margin-left: 8.33333% !important; }

 .ms-small-offset-2 {
    margin-left: 16.66667% !important; }

 .ms-small-offset-3 {
    margin-left: 25% !important; }

 .ms-small-offset-4 {
    margin-left: 33.33333% !important; }

 .ms-small-offset-5 {
    margin-left: 41.66667% !important; }

 .ms-small-offset-6 {
    margin-left: 50% !important; }

 .ms-small-offset-7 {
    margin-left: 58.33333% !important; }

 .ms-small-offset-8 {
    margin-left: 66.66667% !important; }

 .ms-small-offset-9 {
    margin-left: 75% !important; }

 .ms-small-offset-10 {
    margin-left: 83.33333% !important; }

 .ms-small-offset-11 {
    margin-left: 91.66667% !important; }

 .ms-small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

 .ms-column.small-centered,
 .ms-columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

 .ms-column.small-uncentered,
 .ms-columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

 .ms-column.small-centered:last-child,
 .ms-columns.small-centered:last-child {
    float: none; }

 .ms-column.small-uncentered:last-child,
 .ms-columns.small-uncentered:last-child {
    float: left; }

 .ms-column.small-uncentered.opposite,
 .ms-columns.small-uncentered.opposite {
    float: right; }

 .ms-row.small-collapse >.ms-column,
 .ms-row.small-collapse >.ms-columns {
    padding-left: 0;
    padding-right: 0; }
 .ms-row.small-collapse.ms-row {
    margin-left: 0;
    margin-right: 0; }
 .ms-row.small-uncollapse >.ms-column,
 .ms-row.small-uncollapse >.ms-columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; } }
@media only screen and (min-width: 40.063em) {
 .ms-medium-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

 .ms-medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

 .ms-medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

 .ms-medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

 .ms-medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

 .ms-medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

 .ms-medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

 .ms-medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

 .ms-medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

 .ms-medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

 .ms-medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

 .ms-medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

 .ms-medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

 .ms-medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

 .ms-medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

 .ms-medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

 .ms-medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

 .ms-medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

 .ms-medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

 .ms-medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

 .ms-medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

 .ms-medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

 .ms-medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

 .ms-medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

 .ms-column,
 .ms-columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

 .ms-medium-1 {
    width: 8.33333%; }

 .ms-medium-2 {
    width: 16.66667%; }

 .ms-medium-3 {
    width: 25%; }

 .ms-medium-4 {
    width: 33.33333%; }

 .ms-medium-5 {
    width: 41.66667%; }

 .ms-medium-6 {
    width: 50%; }

 .ms-medium-7 {
    width: 58.33333%; }

 .ms-medium-8 {
    width: 66.66667%; }

 .ms-medium-9 {
    width: 75%; }

 .ms-medium-10 {
    width: 83.33333%; }

 .ms-medium-11 {
    width: 91.66667%; }

 .ms-medium-12 {
    width: 100%; }

 .ms-medium-offset-0 {
    margin-left: 0% !important; }

 .ms-medium-offset-1 {
    margin-left: 8.33333% !important; }

 .ms-medium-offset-2 {
    margin-left: 16.66667% !important; }

 .ms-medium-offset-3 {
    margin-left: 25% !important; }

 .ms-medium-offset-4 {
    margin-left: 33.33333% !important; }

 .ms-medium-offset-5 {
    margin-left: 41.66667% !important; }

 .ms-medium-offset-6 {
    margin-left: 50% !important; }

 .ms-medium-offset-7 {
    margin-left: 58.33333% !important; }

 .ms-medium-offset-8 {
    margin-left: 66.66667% !important; }

 .ms-medium-offset-9 {
    margin-left: 75% !important; }

 .ms-medium-offset-10 {
    margin-left: 83.33333% !important; }

 .ms-medium-offset-11 {
    margin-left: 91.66667% !important; }

 .ms-medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

 .ms-column.medium-centered,
 .ms-columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

 .ms-column.medium-uncentered,
 .ms-columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

 .ms-column.medium-centered:last-child,
 .ms-columns.medium-centered:last-child {
    float: none; }

 .ms-column.medium-uncentered:last-child,
 .ms-columns.medium-uncentered:last-child {
    float: left; }

 .ms-column.medium-uncentered.opposite,
 .ms-columns.medium-uncentered.opposite {
    float: right; }

 .ms-row.medium-collapse >.ms-column,
 .ms-row.medium-collapse >.ms-columns {
    padding-left: 0;
    padding-right: 0; }
 .ms-row.medium-collapse.ms-row {
    margin-left: 0;
    margin-right: 0; }
 .ms-row.medium-uncollapse >.ms-column,
 .ms-row.medium-uncollapse >.ms-columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

 .ms-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

 .ms-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

 .ms-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

 .ms-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

 .ms-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

 .ms-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

 .ms-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

 .ms-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

 .ms-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

 .ms-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

 .ms-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

 .ms-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

 .ms-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

 .ms-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

 .ms-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

 .ms-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

 .ms-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

 .ms-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

 .ms-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

 .ms-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

 .ms-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

 .ms-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

 .ms-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

 .ms-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
@media only screen and (min-width: 64.063em) {
 .ms-large-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

 .ms-large-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

 .ms-large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

 .ms-large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

 .ms-large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

 .ms-large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

 .ms-large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

 .ms-large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

 .ms-large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

 .ms-large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

 .ms-large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

 .ms-large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

 .ms-large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

 .ms-large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

 .ms-large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

 .ms-large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

 .ms-large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

 .ms-large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

 .ms-large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

 .ms-large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

 .ms-large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

 .ms-large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

 .ms-large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

 .ms-large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

 .ms-column,
 .ms-columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

 .ms-large-1 {
    width: 8.33333%; }

 .ms-large-2 {
    width: 16.66667%; }

 .ms-large-3 {
    width: 25%; }

 .ms-large-4 {
    width: 33.33333%; }

 .ms-large-5 {
    width: 41.66667%; }

 .ms-large-6 {
    width: 50%; }

 .ms-large-7 {
    width: 58.33333%; }

 .ms-large-8 {
    width: 66.66667%; }

 .ms-large-9 {
    width: 75%; }

 .ms-large-10 {
    width: 83.33333%; }

 .ms-large-11 {
    width: 91.66667%; }

 .ms-large-12 {
    width: 100%; }

 .ms-large-offset-0 {
    margin-left: 0% !important; }

 .ms-large-offset-1 {
    margin-left: 8.33333% !important; }

 .ms-large-offset-2 {
    margin-left: 16.66667% !important; }

 .ms-large-offset-3 {
    margin-left: 25% !important; }

 .ms-large-offset-4 {
    margin-left: 33.33333% !important; }

 .ms-large-offset-5 {
    margin-left: 41.66667% !important; }

 .ms-large-offset-6 {
    margin-left: 50% !important; }

 .ms-large-offset-7 {
    margin-left: 58.33333% !important; }

 .ms-large-offset-8 {
    margin-left: 66.66667% !important; }

 .ms-large-offset-9 {
    margin-left: 75% !important; }

 .ms-large-offset-10 {
    margin-left: 83.33333% !important; }

 .ms-large-offset-11 {
    margin-left: 91.66667% !important; }

 .ms-large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

 .ms-column.large-centered,
 .ms-columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

 .ms-column.large-uncentered,
 .ms-columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

 .ms-column.large-centered:last-child,
 .ms-columns.large-centered:last-child {
    float: none; }

 .ms-column.large-uncentered:last-child,
 .ms-columns.large-uncentered:last-child {
    float: left; }

 .ms-column.large-uncentered.opposite,
 .ms-columns.large-uncentered.opposite {
    float: right; }

 .ms-row.large-collapse >.ms-column,
 .ms-row.large-collapse >.ms-columns {
    padding-left: 0;
    padding-right: 0; }
 .ms-row.large-collapse.ms-row {
    margin-left: 0;
    margin-right: 0; }
 .ms-row.large-uncollapse >.ms-column,
 .ms-row.large-uncollapse >.ms-columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

 .ms-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

 .ms-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

 .ms-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

 .ms-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

 .ms-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

 .ms-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

 .ms-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

 .ms-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

 .ms-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

 .ms-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

 .ms-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

 .ms-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

 .ms-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

 .ms-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

 .ms-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

 .ms-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

 .ms-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

 .ms-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

 .ms-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

 .ms-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

 .ms-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

 .ms-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

 .ms-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

 .ms-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
.ms-button {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #2ba6cb;
  border-color: #2285a2;
  color: #FFFFFF;
  transition: background-color 300ms ease-out; }
  .ms-button:hover, .ms-button:focus,.ms-button:hover,.ms-button:focus {
    background-color: #2285a2; }
  .ms-button:hover, .ms-button:focus,.ms-button:hover,.ms-button:focus {
    color: #FFFFFF; }
  .ms-button.secondary,.ms-button.secondary {
    background-color: #e9e9e9;
    border-color: #bababa;
    color: #333333; }
    .ms-button.secondary:hover, .ms-button.secondary:focus,.ms-button.secondary:hover,.ms-button.secondary:focus {
      background-color: #bababa; }
    .ms-button.secondary:hover, .ms-button.secondary:focus,.ms-button.secondary:hover,.ms-button.secondary:focus {
      color: #333333; }
  .ms-button.success,.ms-button.success {
    background-color: #5da423;
    border-color: #4a831c;
    color: #FFFFFF; }
    .ms-button.success:hover, .ms-button.success:focus,.ms-button.success:hover,.ms-button.success:focus {
      background-color: #4a831c; }
    .ms-button.success:hover, .ms-button.success:focus,.ms-button.success:hover,.ms-button.success:focus {
      color: #FFFFFF; }
  .ms-button.alert,.ms-button.alert {
    background-color: #c60f13;
    border-color: #9e0c0f;
    color: #FFFFFF; }
    .ms-button.alert:hover, .ms-button.alert:focus,.ms-button.alert:hover,.ms-button.alert:focus {
      background-color: #9e0c0f; }
    .ms-button.alert:hover, .ms-button.alert:focus,.ms-button.alert:hover,.ms-button.alert:focus {
      color: #FFFFFF; }
  .ms-button.warning,.ms-button.warning {
    background-color: #f08a24;
    border-color: #cf6e0e;
    color: #FFFFFF; }
    .ms-button.warning:hover, .ms-button.warning:focus,.ms-button.warning:hover,.ms-button.warning:focus {
      background-color: #cf6e0e; }
    .ms-button.warning:hover, .ms-button.warning:focus,.ms-button.warning:hover,.ms-button.warning:focus {
      color: #FFFFFF; }
  .ms-button.info,.ms-button.info {
    background-color: #a0d3e8;
    border-color: #61b6d9;
    color: #333333; }
    .ms-button.info:hover, .ms-button.info:focus,.ms-button.info:hover,.ms-button.info:focus {
      background-color: #61b6d9; }
    .ms-button.info:hover, .ms-button.info:focus,.ms-button.info:hover,.ms-button.info:focus {
      color: #FFFFFF; }
  .ms-button.large,.ms-button.large {
    padding-top: 1.125rem;
    padding-right: 2.25rem;
    padding-bottom: 1.1875rem;
    padding-left: 2.25rem;
    font-size: 1.25rem; }
  .ms-button.small,.ms-button.small {
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem; }
  .ms-button.tiny,.ms-button.tiny {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem; }
  .ms-button.expand,.ms-button.expand {
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
  .ms-button.left-align,.ms-button.left-align {
    text-align: left;
    text-indent: 0.75rem; }
  .ms-button.right-align,.ms-button.right-align {
    text-align: right;
    padding-right: 0.75rem; }
  .ms-button.radius,.ms-button.radius {
    border-radius: 3px; }
  .ms-button.round,.ms-button.round {
    border-radius: 1000px; }
  .ms-button.disabled, .ms-button[disabled],.ms-button.disabled,.ms-button[disabled] {
    background-color: #2ba6cb;
    border-color: #2285a2;
    color: #FFFFFF;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
    .ms-button.disabled:hover, .ms-button.disabled:focus, .ms-button[disabled]:hover, .ms-button[disabled]:focus,.ms-button.disabled:hover,.ms-button.disabled:focus,.ms-button[disabled]:hover,.ms-button[disabled]:focus {
      background-color: #2285a2; }
    .ms-button.disabled:hover, .ms-button.disabled:focus, .ms-button[disabled]:hover, .ms-button[disabled]:focus,.ms-button.disabled:hover,.ms-button.disabled:focus,.ms-button[disabled]:hover,.ms-button[disabled]:focus {
      color: #FFFFFF; }
    .ms-button.disabled:hover, .ms-button.disabled:focus, .ms-button[disabled]:hover, .ms-button[disabled]:focus,.ms-button.disabled:hover,.ms-button.disabled:focus,.ms-button[disabled]:hover,.ms-button[disabled]:focus {
      background-color: #2ba6cb; }
    .ms-button.disabled.secondary, .ms-button[disabled].secondary,.ms-button.disabled.secondary,.ms-button[disabled].secondary {
      background-color: #e9e9e9;
      border-color: #bababa;
      color: #333333;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      .ms-button.disabled.secondary:hover, .ms-button.disabled.secondary:focus, .ms-button[disabled].secondary:hover, .ms-button[disabled].secondary:focus,.ms-button.disabled.secondary:hover,.ms-button.disabled.secondary:focus,.ms-button[disabled].secondary:hover,.ms-button[disabled].secondary:focus {
        background-color: #bababa; }
      .ms-button.disabled.secondary:hover, .ms-button.disabled.secondary:focus, .ms-button[disabled].secondary:hover, .ms-button[disabled].secondary:focus,.ms-button.disabled.secondary:hover,.ms-button.disabled.secondary:focus,.ms-button[disabled].secondary:hover,.ms-button[disabled].secondary:focus {
        color: #333333; }
      .ms-button.disabled.secondary:hover, .ms-button.disabled.secondary:focus, .ms-button[disabled].secondary:hover, .ms-button[disabled].secondary:focus,.ms-button.disabled.secondary:hover,.ms-button.disabled.secondary:focus,.ms-button[disabled].secondary:hover,.ms-button[disabled].secondary:focus {
        background-color: #e9e9e9; }
    .ms-button.disabled.success, .ms-button[disabled].success,.ms-button.disabled.success,.ms-button[disabled].success {
      background-color: #5da423;
      border-color: #4a831c;
      color: #FFFFFF;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      .ms-button.disabled.success:hover, .ms-button.disabled.success:focus, .ms-button[disabled].success:hover, .ms-button[disabled].success:focus,.ms-button.disabled.success:hover,.ms-button.disabled.success:focus,.ms-button[disabled].success:hover,.ms-button[disabled].success:focus {
        background-color: #4a831c; }
      .ms-button.disabled.success:hover, .ms-button.disabled.success:focus, .ms-button[disabled].success:hover, .ms-button[disabled].success:focus,.ms-button.disabled.success:hover,.ms-button.disabled.success:focus,.ms-button[disabled].success:hover,.ms-button[disabled].success:focus {
        color: #FFFFFF; }
      .ms-button.disabled.success:hover, .ms-button.disabled.success:focus, .ms-button[disabled].success:hover, .ms-button[disabled].success:focus,.ms-button.disabled.success:hover,.ms-button.disabled.success:focus,.ms-button[disabled].success:hover,.ms-button[disabled].success:focus {
        background-color: #5da423; }
    .ms-button.disabled.alert, .ms-button[disabled].alert,.ms-button.disabled.alert,.ms-button[disabled].alert {
      background-color: #c60f13;
      border-color: #9e0c0f;
      color: #FFFFFF;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      .ms-button.disabled.alert:hover, .ms-button.disabled.alert:focus, .ms-button[disabled].alert:hover, .ms-button[disabled].alert:focus,.ms-button.disabled.alert:hover,.ms-button.disabled.alert:focus,.ms-button[disabled].alert:hover,.ms-button[disabled].alert:focus {
        background-color: #9e0c0f; }
      .ms-button.disabled.alert:hover, .ms-button.disabled.alert:focus, .ms-button[disabled].alert:hover, .ms-button[disabled].alert:focus,.ms-button.disabled.alert:hover,.ms-button.disabled.alert:focus,.ms-button[disabled].alert:hover,.ms-button[disabled].alert:focus {
        color: #FFFFFF; }
      .ms-button.disabled.alert:hover, .ms-button.disabled.alert:focus, .ms-button[disabled].alert:hover, .ms-button[disabled].alert:focus,.ms-button.disabled.alert:hover,.ms-button.disabled.alert:focus,.ms-button[disabled].alert:hover,.ms-button[disabled].alert:focus {
        background-color: #c60f13; }
    .ms-button.disabled.warning, .ms-button[disabled].warning,.ms-button.disabled.warning,.ms-button[disabled].warning {
      background-color: #f08a24;
      border-color: #cf6e0e;
      color: #FFFFFF;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      .ms-button.disabled.warning:hover, .ms-button.disabled.warning:focus, .ms-button[disabled].warning:hover, .ms-button[disabled].warning:focus,.ms-button.disabled.warning:hover,.ms-button.disabled.warning:focus,.ms-button[disabled].warning:hover,.ms-button[disabled].warning:focus {
        background-color: #cf6e0e; }
      .ms-button.disabled.warning:hover, .ms-button.disabled.warning:focus, .ms-button[disabled].warning:hover, .ms-button[disabled].warning:focus,.ms-button.disabled.warning:hover,.ms-button.disabled.warning:focus,.ms-button[disabled].warning:hover,.ms-button[disabled].warning:focus {
        color: #FFFFFF; }
      .ms-button.disabled.warning:hover, .ms-button.disabled.warning:focus, .ms-button[disabled].warning:hover, .ms-button[disabled].warning:focus,.ms-button.disabled.warning:hover,.ms-button.disabled.warning:focus,.ms-button[disabled].warning:hover,.ms-button[disabled].warning:focus {
        background-color: #f08a24; }
    .ms-button.disabled.info, .ms-button[disabled].info,.ms-button.disabled.info,.ms-button[disabled].info {
      background-color: #a0d3e8;
      border-color: #61b6d9;
      color: #333333;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      .ms-button.disabled.info:hover, .ms-button.disabled.info:focus, .ms-button[disabled].info:hover, .ms-button[disabled].info:focus,.ms-button.disabled.info:hover,.ms-button.disabled.info:focus,.ms-button[disabled].info:hover,.ms-button[disabled].info:focus {
        background-color: #61b6d9; }
      .ms-button.disabled.info:hover, .ms-button.disabled.info:focus, .ms-button[disabled].info:hover, .ms-button[disabled].info:focus,.ms-button.disabled.info:hover,.ms-button.disabled.info:focus,.ms-button[disabled].info:hover,.ms-button[disabled].info:focus {
        color: #FFFFFF; }
      .ms-button.disabled.info:hover, .ms-button.disabled.info:focus, .ms-button[disabled].info:hover, .ms-button[disabled].info:focus,.ms-button.disabled.info:hover,.ms-button.disabled.info:focus,.ms-button[disabled].info:hover,.ms-button[disabled].info:focus {
        background-color: #a0d3e8; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

@media only screen and (min-width: 40.063em) {
  .ms-button,.ms-button {
    display: inline-block; } }
/* Standard Forms */
form {
  margin: 0 0 1rem; }

/* Using forms within rows, we need to set some defaults */
form.ms-row.ms-row {
  margin: 0 -0.5rem; }
  form.ms-row.ms-row.ms-column,
  form.ms-row.ms-row.ms-columns {
    padding: 0 0.5rem; }
  form.ms-row.ms-row.collapse {
    margin: 0; }
    form.ms-row.ms-row.collapse.ms-column,
    form.ms-row.ms-row.collapse.ms-columns {
      padding: 0; }
    form.ms-row.ms-row.collapse .ms-input {
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
form.ms-row .ms-input.column,
form.ms-row .ms-input.columns,
form.ms-row .ms-textarea.column,
form.ms-row .ms-textarea.columns {
  padding-left: 0.5rem; }

/* Label Styles */
.ms-label {
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  /* Styles for required .ms-inputs */ }
  .ms-label.right {
    float: none !important;
    text-align: right; }
  .ms-label.inline {
    margin: 0 0 1rem 0;
    padding: 0.5625rem 0; }
  .ms-label small {
    text-transform: capitalize;
    color: #676767; }

/* Attach elements to the beginning or end of an .ms-input */
.ms-prefix,
.ms-postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 2.3125rem; }

/* Adjust padding, alignment and radius if pre/post element is a .ms-button */
.ms-postfix.button {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  border: none; }

.ms-prefix.button {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  border: none; }

.ms-prefix.button.radius {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.ms-postfix.button.radius {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

.ms-prefix.button.round {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px; }

.ms-postfix.button.round {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px; }


/* We use this to get basic styling on all basic form elements */
.ms-input[type="text"], .ms-input[type="password"], .ms-input[type="date"], .ms-input[type="datetime"], .ms-input[type="datetime-local"], .ms-input[type="month"], .ms-input[type="week"], .ms-input[type="email"], .ms-input[type="number"], .ms-input[type="search"], .ms-input[type="tel"], .ms-input[type="time"], .ms-input[type="url"], .ms-input[type="color"], .ms-textarea {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #FFFFFF;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }
  .ms-input[type="text"]:focus, .ms-input[type="password"]:focus, .ms-input[type="date"]:focus, .ms-input[type="datetime"]:focus, .ms-input[type="datetime-local"]:focus, .ms-input[type="month"]:focus, .ms-input[type="week"]:focus, .ms-input[type="email"]:focus, .ms-input[type="number"]:focus, .ms-input[type="search"]:focus, .ms-input[type="tel"]:focus, .ms-input[type="time"]:focus, .ms-input[type="url"]:focus, .ms-input[type="color"]:focus, .ms-textarea:focus {
    box-shadow: 0 0 5px #999999;
    border-color: #999999; }
  .ms-input[type="text"]:focus, .ms-input[type="password"]:focus, .ms-input[type="date"]:focus, .ms-input[type="datetime"]:focus, .ms-input[type="datetime-local"]:focus, .ms-input[type="month"]:focus, .ms-input[type="week"]:focus, .ms-input[type="email"]:focus, .ms-input[type="number"]:focus, .ms-input[type="search"]:focus, .ms-input[type="tel"]:focus, .ms-input[type="time"]:focus, .ms-input[type="url"]:focus, .ms-input[type="color"]:focus, .ms-textarea:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none; }
  .ms-input[type="text"]:disabled, .ms-input[type="password"]:disabled, .ms-input[type="date"]:disabled, .ms-input[type="datetime"]:disabled, .ms-input[type="datetime-local"]:disabled, .ms-input[type="month"]:disabled, .ms-input[type="week"]:disabled, .ms-input[type="email"]:disabled, .ms-input[type="number"]:disabled, .ms-input[type="search"]:disabled, .ms-input[type="tel"]:disabled, .ms-input[type="time"]:disabled, .ms-input[type="url"]:disabled, .ms-input[type="color"]:disabled, .ms-textarea:disabled {
    background-color: #DDDDDD;
    cursor: default; }
  .ms-input[type="text"][disabled], .ms-input[type="text"][readonly], .ms-fieldset[disabled] .ms-input[type="text"], .ms-input[type="password"][disabled], .ms-input[type="password"][readonly], .ms-fieldset[disabled] .ms-input[type="password"], .ms-input[type="date"][disabled], .ms-input[type="date"][readonly], .ms-fieldset[disabled] .ms-input[type="date"], .ms-input[type="datetime"][disabled], .ms-input[type="datetime"][readonly], .ms-fieldset[disabled] .ms-input[type="datetime"], .ms-input[type="datetime-local"][disabled], .ms-input[type="datetime-local"][readonly], .ms-fieldset[disabled] .ms-input[type="datetime-local"], .ms-input[type="month"][disabled], .ms-input[type="month"][readonly], .ms-fieldset[disabled] .ms-input[type="month"], .ms-input[type="week"][disabled], .ms-input[type="week"][readonly], .ms-fieldset[disabled] .ms-input[type="week"], .ms-input[type="email"][disabled], .ms-input[type="email"][readonly], .ms-fieldset[disabled] .ms-input[type="email"], .ms-input[type="number"][disabled], .ms-input[type="number"][readonly], .ms-fieldset[disabled] .ms-input[type="number"], .ms-input[type="search"][disabled], .ms-input[type="search"][readonly], .ms-fieldset[disabled] .ms-input[type="search"], .ms-input[type="tel"][disabled], .ms-input[type="tel"][readonly], .ms-fieldset[disabled] .ms-input[type="tel"], .ms-input[type="time"][disabled], .ms-input[type="time"][readonly], .ms-fieldset[disabled] .ms-input[type="time"], .ms-input[type="url"][disabled], .ms-input[type="url"][readonly], .ms-fieldset[disabled] .ms-input[type="url"], .ms-input[type="color"][disabled], .ms-input[type="color"][readonly], .ms-fieldset[disabled] .ms-input[type="color"], .ms-textarea[disabled], .ms-textarea[readonly], .ms-fieldset[disabled] .ms-textarea {
    background-color: #DDDDDD;
    cursor: default; }
  .ms-input[type="text"].radius, .ms-input[type="password"].radius, .ms-input[type="date"].radius, .ms-input[type="datetime"].radius, .ms-input[type="datetime-local"].radius, .ms-input[type="month"].radius, .ms-input[type="week"].radius, .ms-input[type="email"].radius, .ms-input[type="number"].radius, .ms-input[type="search"].radius, .ms-input[type="tel"].radius, .ms-input[type="time"].radius, .ms-input[type="url"].radius, .ms-input[type="color"].radius, .ms-textarea.radius {
    border-radius: 3px; }

form.ms-row.ms-prefix-radius.row.collapse .ms-input,
form.ms-row.ms-prefix-radius.row.collapse .ms-textarea,
form.ms-row.ms-prefix-radius.row.collapse .ms-select {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }
form.ms-row.ms-prefix-radius.row.collapse.ms-prefix {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }
form.ms-row.ms-postfix-radius.row.collapse .ms-input,
form.ms-row.ms-postfix-radius.row.collapse .ms-textarea,
form.ms-row.ms-postfix-radius.row.collapse .ms-select {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }
form.ms-row.ms-postfix-radius.row.collapse.ms-postfix {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }
form.ms-row.ms-prefix-round.row.collapse .ms-input,
form.ms-row.ms-prefix-round.row.collapse .ms-textarea,
form.ms-row.ms-prefix-round.row.collapse .ms-select {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px; }
form.ms-row.ms-prefix-round.row.collapse.ms-prefix {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px; }
form.ms-row.ms-postfix-round.row.collapse .ms-input,
form.ms-row.ms-postfix-round.row.collapse .ms-textarea,
form.ms-row.ms-postfix-round.row.collapse .ms-select {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px; }
form.ms-row.ms-postfix-round.row.collapse.ms-postfix {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px; }

.ms-input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0; }

/* Respect enforced amount of rows for .ms-textarea */
.ms-textarea[rows] {
  height: auto; }

/* Not allow resize out of parent */
.ms-textarea {
  max-width: 100%; }

/* Add height value for .ms-select elements to match text .ms-input height */
.ms-select {
  -webkit-appearance: none !important;
  border-radius: 0;
  background-color: #FAFAFA;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.75);
  line-height: normal;
  border-radius: 0;
  height: 2.3125rem; }
  .ms-select::-ms-expand {
    display: none; }
  .ms-select.radius {
    border-radius: 3px; }
  .ms-select:hover {
    background-color: #f3f3f3;
    border-color: #999999; }
  .ms-select:disabled {
    background-color: #DDDDDD;
    cursor: default; }

/* Adjust margin for form elements below */
.ms-input[type="file"],
.ms-input[type="checkbox"],
.ms-input[type="radio"],
.ms-select {
  margin: 0 0 1rem 0; }

.ms-input[type="checkbox"] + .ms-label,
.ms-input[type="radio"] + .ms-label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline; }

/* Normalize file .ms-input width */
.ms-input[type="file"] {
  width: 100%; }

/* HTML5 Number spinners settings */
/* We add basic .ms-fieldset styling */
.ms-fieldset {
  border: 1px solid #DDDDDD;
  padding: 1.25rem;
  margin: 1.125rem 0; }
  .ms-fieldset legend {
    font-weight: bold;
    background: #FFFFFF;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem; }

/* Error Handling */
[data-abide].ms-error small.error, [data-abide].ms-error span.error, [data-abide] span.error, [data-abide] small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #c60f13;
  color: #FFFFFF; }
[data-abide] span.error, [data-abide] small.error {
  display: none; }

span.error, small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #c60f13;
  color: #FFFFFF; }

.ms-error .ms-input,
.ms-error .ms-textarea,
.ms-error .ms-select {
  margin-bottom: 0; }
  .ms-error .ms-input[type="checkbox"],
  .ms-error .ms-input[type="radio"] {
  margin-bottom: 1rem; }
  .ms-error label,
  .ms-error label.error {
  color: #c60f13; }
  .ms-error small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #c60f13;
  color: #FFFFFF; }
  .ms-error > label > small {
  color: #676767;
  background: transparent;
  padding: 0;
  text-transform: capitalize;
  font-style: normal;
  font-size: 60%;
  margin: 0;
  display: inline; }
  .ms-error span.error-message {
  display: block; }

.ms-input.ms-error,
.ms-textarea.ms-error,
.ms-select.ms-error {
  margin-bottom: 0; }

label.ms-error {
  color: #c60f13; }

.ms_form {
  margin-bottom: 15px;
}
.ms_form form {
  border-radius: 5px;
  padding: 15px 15px;
  border: 1px solid rgba(233, 233, 244, 0.8);
}
.ms_form form .ms-label {
  font-family: "Open Sans", sans-serif;
  color: #3e3e3e;
  font-size: 13px;
  /* Approximation due to font substitution */
  font-weight: 700;
  line-height: 33px;
  text-align: right;
}
.ms_form form .ms-label span {
  color: #f06000;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 400;
  margin-right: 5px;
}
.ms_form .help-block{
  display: block;
  font-size: 10px;
  margin: 5px 0;
  padding: 10px;
  line-height: 14px !important;
  border-radius: 5px;
  background: rgba(215, 44, 44, 0.2);
}
.ms_form .ms-small-1 .help-block{
  min-width: 200px;
}
.ms_form form [data-invalid] {
  background: red !important;
  color: #fff !important;
  margin-bottom: 16px;
}
.ms_form form .ms-input:not([type=submit]), .ms_form form .ms-select, .ms_form form .ms-textarea {
  background-color: #f6f7fc;
  border-radius: 5px;
  /*max-width: 230px;*/
  height: 33px;
  padding: .3rem;
  font-size: 12px;
}
.ms_form form .ms-select{
  margin-bottom: 10px;
}
.ms_form form .ms-input[name=kodKoniec]{
  width: 100px;
}
.ms_form form .ms-input[type=checkbox] {
  width: 18px;
}
.ms_form form .ms-input[type=submit], .ms_scrollToForm {
  margin: 0;
  text-align: center;
  display: block;
  margin: 15px auto;
  width: 190px;
  border-radius: 5px;
  background: #ff5400;
  border: 1px solid #ff5400;
  font-family: 'Open Sans',sans-serif;
  color: #fff!important;
  text-decoration: none!important;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
.ms_scrollToForm:hover{
  border: 1px solid !important;
}
.ms_form form .ms-textarea {
  height: 85px;
}
.ms_form form .polityka {
  font-size: 11px;
  font-weight: 300;
  line-height: 21px;
  margin: 15px 0;
}
.ms_form form .kodPocztowy .ms-input {
  display: inline-block;
}
.ms_form form .kodPocztowy .ms-input:first-child {
  width: 45px;
}
.ms_form form .kodPocztowy .ms-input:last-child {
  width: 56px;
}
.ms_form form .obowiazkowe label {
  text-align: left;
}
